/* Style for the nav bar */

nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.logo {
  font-family: 'Bungee', cursive;
  display: flex;
  align-items: center;
}

p > span {
  font-weight: bold;
}

.fa-solid.fa-angles-down{
  color: red;
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-right > p {
  margin-bottom: 0;
}

/* tablet breakpoint */
@media only screen and (min-width: 768px) {
  nav {
    height: 90px;
    background-color: #00f0ac;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  }
}

/* desktop breakpoint */
@media only screen and (min-width: 1024px) {
  nav {
    z-index: 1;
    top: 0;
    background-color: #4056A1;
  }
}